<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form [formGroup]="fg" (ngSubmit)="save();">
      <ion-item lines="none">
        <ion-input label="Username" placeholder="joeborg" formControlName="username" value="{{username}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Theme" formControlName="theme">
          <ion-select-option *ngFor="let t of themes" value="{{t.id}}">{{t.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button type="submit" color="brand">Save</ion-button>
    </form>
  </div>
  
</ion-content>
